.app-layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-header, .app-footer{
background-color: rgb(0, 0, 0);
color: white;
}

.app-main{
flex-grow: 1;
display: grid;
place-content: center;
}

.app-header{
height: 22vh;
}

.app-footer{
height: 17vh;
}