.card-container {
  position: relative;
  width: 18rem;
  height: auto; /* Cambiamos la altura a automática para ajustar al contenido */
}

.card-image {
  /* Mantenemos la misma altura para todas las imágenes */
  height: 10em; /* Ajusta este valor según tus necesidades */
  object-fit: cover; /* Asegura que la imagen se ajuste sin deformar */
}

.card-overlay {
  position: absolute;
  bottom: 0; /* Alineamos el overlay en la parte inferior */
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding: 10px;
  transition: opacity 0.3s ease; 
}



.card-citi, .card-country{
    display: flex;
    align-items: center;
}

.card-citi{
    margin-top: 5px;
    margin-bottom: 0px;
}


.card-country{
    margin-bottom: 5px;
}

.card-container-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item.active .page-link {
  background-color: rgb(255, 145, 0);
  border-color: rgb(255, 145, 0);
  
}

.page-link {
  color: rgb(0, 0, 0) !important; 
  border-color: rgb(255, 145, 0) !important; 
}

.page-item.disabled .page-link {
  color: rgb(255, 255, 255) !important;
  background-color: white;
  border: none;
}

.form-control {
  box-shadow: 0 0 10px black;
  border: black;
}

.form-control:focus {
  box-shadow: 0 0 10px rgb(255, 145, 0);
  border: black;
}
