.menu-nav{
    align-items: center;
    width: 40px;
}


.link-menu-menu:hover {
    color: rgb(255, 145, 0);
}


.active-link {
    background-color: rgb(255, 145, 0);
    border-radius: 10px;
    font-weight: bold;
    color: white;
}


.active-link:hover {
    color:black
}