.itinerary {
    margin-bottom: 30px;
}

.rounded-image {
    border-radius: 50%;
    object-fit: cover;
}

.person-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-image {
    width: 80px;
    height: 80px;
}

.person-name {
    white-space: nowrap;
    font-weight: bold; 
}



.accordion-toggle-button {
    color: black;
    text-align: right; 
}

.accordion-toggle-button:hover {
    color: rgb(255, 145, 0);
}

.item-details {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width:auto;
    
}
.item-meta{
    white-space: nowrap;
    display: block;
    align-content: center;
    
    justify-content: center;
}


.green-icon {
    color: green; 
    font-size: 30px;
    margin-bottom: 5px;
}

.reloj {
    color: rgb(255, 145, 0);
}

.red-heart {
    color: red;
}

.accordion-button:not(.collapsed){
    color:black;
    background-color: rgb(255, 145, 0,0.3);
}

.item-details-tag{
    width:auto;
    margin-left: 20px;
    display: block;
    align-content: center;
}

.tag{
    font-size: small;
    max-width: 70%;
}

@media (min-width: 992px) {
    .person-info {
        width: 100vh;
    }
}