.hero-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-name {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);    
    font-size: 300%;
}

.hero-parrafo {
    display: flex;    
    align-items: center;
    justify-content: center;
    color: rgb(136, 136, 136);
    font-size: 100%;
    line-height: 24px;
    column-count: 2;
}

.hero-name .letter {
    display: inline-block;
    transition: font-size 0.3s, color 0.3s;
}


.hero-name .letter:hover {
    font-size: 40px;
    color: rgb(255, 145, 0);
}

.booton-call{
    margin: auto;
}


.booton-call:hover{
    background-color:rgb(255, 145, 0); 
    color: black;
}