.social-icons{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.social-icon-icon{
    color: white;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

.social-icon-icon:hover {
    color: rgb(255, 145, 0);
}
